language: python
matrix:
  include:
    - python: 2.7
      dist: trusty
    - python: 3.5
      dist: trusty
    - python: 3.6
      dist: trusty
    - python: 3.7
      dist: xenial
    - python: 3.8
      dist: xenial
install:
  - pip install tox-travis
script:
  - tox
